<div  *ngIf="telaParaApresentar == 'lista'">
    <form #formularioTarefa="ngForm">
      <div class="form-group">
        <h1 class="text-center">List Songs</h1>
        <div class="input-group-prepend">
          <input type="text" placeholder="Adicionar tarefa" name="song" #song
          [(ngModel)]="songNameModel" maxlength="50" class="form-control">
          <span (click)="addSong(song.value);" class="input-group-text">
            <i class="material-icons">add</i>
          </span>
        </div> 
      </div>
      <div class="data">
        <ul class="list-unstyled">
          <li [@moveInLeft] *ngFor="let songItem of listSongTipada">{{songItem.name}}
           <i class="material-icons" (click)="removerSong(songItem.idSong);">delete</i>
           <i class="material-icons" (click)="editSong(songItem.idSong);">edit</i>
            <i class="material-icons" (click)="detail(songItem.idSong);">visibility</i>
          </li>
        </ul>
      </div>
    </form>
  </div>

  <app-songs-detail
    *ngIf="telaParaApresentar == 'detalhe'"
    [song]="selectedSong"
    [closeDetail]="closeDetail">
  </app-songs-detail>
