<form>
  <div class="container">
    <div class="mb-3 row">
      <label for="nomeAluno" class="col-sm-4 col-form-label">Song Name</label>
      <div class="col-sm-6">
        <input type="text" readonly class="form-control-plaintext" id="nameSong" [(ngModel)]="song.name" name="name">
      </div>
    </div>
    <div class="mb-3 row">
      <label for="ultimoNome" class="col-sm-4 col-form-label">Ultimo nome</label>
      <div class="col-sm-6">
        <input type="text" readonly class="form-control-plaintext" id="categorie" [(ngModel)]="song.categorie" name="categorie">
      </div>
    </div>
    <div class="mb-3 row">
      <button (click)="close()">Fechar</button>
    </div>
  </div>
</form>
